<div class="example">
  <div class="container-fuild centrado">
    <div class="row">
      <table class="table bordered">
        <thead>
        <td>N°</td>
        <td>Modulo</td>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Modulo de remitentes</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Modulo de receptoras</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Modulo de calificadas</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Modulo de Roles</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h4>Para crear un nuevo registro presione el icono <span class="icon-clipboard-2"></span></h4>
  </div>
</div>
