/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_tree .
 *= require_self
 *= require ../../../vendor/assets/bower_components/Metro-UI-CSS/css/metro-bootstrap.css
 *= require ../../../vendor/assets/bower_components/Metro-UI-CSS/css/metro-bootstrap-responsive.css
 *= require ../../../vendor/assets/bower_components/Metro-UI-CSS/docs/css/docs.css
 *= require ../../../vendor/assets/bower_components/Metro-UI-CSS/docs/js/prettify/prettify.css
 */
.registro {
    width: 24%;
    background: #c0c0c0;
    margin: 0 auto;
    padding: 1em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}
.spamlol {
    width: 220px !important;
    float: left !important;
    margin: 0 0 0 5%;
}
.centrado {
    width: 62% !important;
    margin: 0px auto;
}